# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [76]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [77]:
#Calculate the total number of schools

num_schools = school_data["school_name"].count()

num_schools

15

In [78]:
#Calculate the total number of students

num_students = student_data["student_name"].count()

num_students

39170

In [79]:
#Calculate the total budget

total_budget = school_data["budget"].sum()

total_budget

24649428

In [80]:
#Calculate the average math score 

avg_math_score = student_data["math_score"].mean()

avg_math_score

78.98537145774827

In [81]:
# Calculate the average reading score

avg_reading_score = student_data["reading_score"].mean()

avg_reading_score

81.87784018381414

In [82]:
#Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

overall_avg_score = (avg_math_score+avg_reading_score)/2

overall_avg_score

80.43160582078121

In [83]:
# Calculate the percentage of students with a passing math score (70 or greater)

count_passing_math = (student_data.loc[student_data["math_score"]>70]).count()["student_name"]

prct_passing_math = count_passing_math / num_students * 100
prct_passing_math

72.39213683941792

In [84]:
# Calculate the percentage of students with a passing reading score (70 or greater)

count_passing_read = (student_data.loc[student_data["reading_score"]>70]).count()["student_name"]

prct_passing_read = count_passing_read / num_students * 100
prct_passing_read

82.97166198621395

In [85]:
#Create a dataframe to hold the above results


results = pd.DataFrame({"Total Schools": [num_schools],
                        "Total Students": [num_students],
                        "Total Budgets": [total_budget],
                        "Average Math Score": [avg_math_score],
                        "Average Reading Score": [avg_reading_score],
                        "% Passing Math": [prct_passing_math],
                        "% Passing Reading": [prct_passing_read],
                        "Overall Passing Rate": [overall_avg_score]})

summary = results[["Total Schools", 
                    "Total Students", 
                    "Total Budgets", 
                    "Average Math Score", 
                    "Average Reading Score",
                    "% Passing Math",
                    "% Passing Reading",
                    "Overall Passing Rate"]]

summary

,Total Schools,Total Students,Total Budgets,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,72.392137,82.971662,80.431606

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [86]:
#Schools
ss_school_type = school_data.set_index(["school_name"])["type"]
ss_school_type

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [87]:
# Total Students per School
ss_total_students = school_data_complete["school_name"].value_counts()
ss_total_students

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [88]:
# Total School Budget
ss_total_budget = school_data["budget"].sum()
ss_total_budget

24649428

In [89]:
# Per School Budget
ss_total_school_budget = school_data.groupby(["school_name"]).sum()["budget"]
ss_total_school_budget

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [90]:
# Average Math Score per School
ss_avg_math_score = school_data_complete.groupby(["school_name"]).mean()["math_score"]
ss_avg_math_score

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [91]:
# Average Reading Score per School
ss_avg_reading_score = school_data_complete.groupby(["school_name"]).mean()["reading_score"]
ss_avg_reading_score

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [92]:
# % Passing Math per School
ss_passing_math = school_data_complete[(school_data_complete["math_score"] > 70)]
ss_passing_math_list = ss_passing_math.groupby(["school_name"]).count()["student_name"] / ss_total_students * 100

ss_passing_math_list

Bailey High School       64.630225
Cabrera High School      89.558665
Figueroa High School     63.750424
Ford High School         65.753925
Griffin High School      89.713896
Hernandez High School    64.746494
Holden High School       90.632319
Huang High School        63.318478
Johnson High School      63.852132
Pena High School         91.683992
Rodriguez High School    64.066017
Shelton High School      89.892107
Thomas High School       90.214067
Wilson High School       90.932983
Wright High School       90.277778
dtype: float64

In [93]:
# % Passing Reading per School
ss_passing_reading = school_data_complete[(school_data_complete["reading_score"] > 70)]
ss_passing_reading_list = ss_passing_reading.groupby(["school_name"]).count()["student_name"] / ss_total_students * 100

ss_passing_reading_list

Bailey High School       79.300643
Cabrera High School      93.864370
Figueroa High School     78.433367
Ford High School         77.510040
Griffin High School      93.392371
Hernandez High School    78.187702
Holden High School       92.740047
Huang High School        78.813850
Johnson High School      78.281874
Pena High School         92.203742
Rodriguez High School    77.744436
Shelton High School      92.617831
Thomas High School       92.905199
Wilson High School       93.254490
Wright High School       93.444444
dtype: float64

In [94]:
# Overall Passing Rate per School
ss_overall_passing_rate = (ss_passing_math_list + ss_passing_reading_list) / 2

ss_overall_passing_rate

Bailey High School       71.965434
Cabrera High School      91.711518
Figueroa High School     71.091896
Ford High School         71.631982
Griffin High School      91.553134
Hernandez High School    71.467098
Holden High School       91.686183
Huang High School        71.066164
Johnson High School      71.067003
Pena High School         91.943867
Rodriguez High School    70.905226
Shelton High School      91.254969
Thomas High School       91.559633
Wilson High School       92.093736
Wright High School       91.861111
dtype: float64

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [17]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,95.035486
$585-615,83.599686,83.885211,94.230858,95.900287,95.065572
$615-645,79.079225,81.891436,75.668212,86.106569,80.887391
$645-675,76.997210,81.027843,66.164813,81.133951,73.649382

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,94.824831
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,95.195187
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,76.364998

## Scores by School Type

* Perform the same operations as above, based on school type.

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,95.103660
District,76.956733,80.966636,66.548453,80.799062,73.673757